.container {
  display: grid;
  min-height: 100dvh;
}

.header {
  inset: 0 0 auto;
  position: fixed;
  z-index: 1;
}

.mobileNav {
  @media (width >= 768px) {
    display: none;
  }
}

.sidebar {
  height: calc(100dvh - var(--header-height));
  inset: var(--header-height) auto 0 0;
  position: fixed;

  @media (width < 768px) {
    display: none;
  }
}

.main {
  margin: calc(var(--header-height) + var(--mobile-nav-height)) 0 0
    var(--sidebar-width);

  @media (width < 768px) {
    margin-left: 0;
  }
}
