.card {
  position: relative;
}

.cardLink {
  display: grid;
  gap: var(--space-2);
}

.cover {
  aspect-ratio: 1;
  background: var(--border);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
  overflow: hidden;
  position: relative;
  transition:
    box-shadow 0.2s ease,
    translate 0.2s ease;
}

.cardBody {
  display: grid;
  gap: 2px;
}

.cardTitle {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 1.3rem;
  font-weight: 700;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  overflow: hidden;
}

.cardStar {
  align-items: center;
  background: rgb(0 0 0 / 45%);
  border-radius: var(--radius-pill);
  display: flex;
  inset: var(--space-1) var(--space-1) auto auto;
  justify-content: center;
  padding: var(--space-1);
  position: absolute;
}

.cardLink:hover .cover {
  box-shadow: var(--shadow-2);
  translate: 0 -2px;
}

.cover img {
  object-fit: cover;
}
